<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daview.mapper.admin.AdminFacilityMapper">

    <!-- 전체 조회 -->
    <select id="selectAll" resultType="com.daview.dto.FacilityDTO">
        SELECT *
        FROM facility
        WHERE is_deleted = 0
        ORDER BY facility_id DESC
    </select>

    <!-- 등록 -->
    <insert id="insert" parameterType="com.daview.dto.FacilityDTO">
        INSERT INTO facility (
            facility_name, address, phone, email, capacity, prod_detail
        ) VALUES (
            #{facilityName}, #{address}, #{phone}, #{email}, #{capacity}, #{prodDetail}
        )
    </insert>

    <!-- 수정 -->
    <update id="update" parameterType="com.daview.dto.FacilityDTO">
        UPDATE facility
        SET
            facility_name = #{facilityName},
            address = #{address},
            phone = #{phone},
            email = #{email},
            capacity = #{capacity},
            prod_detail = #{prodDetail},
            updated_at = NOW()
        WHERE facility_id = #{facilityId}
    </update>

    <!-- 삭제 (is_deleted 처리) -->
    <update id="delete">
        UPDATE facility
        SET is_deleted = 1,
            updated_at = NOW()
        WHERE facility_id = #{id}
    </update>

</mapper>
