<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.daview.mapper.ChatMessageMapper">
    <insert id="insertChatMessage" parameterType="com.daview.dto.ChatMessageDTO">
        INSERT INTO chatMessage (chatroom_id, sender_id, content, sent_at, is_read)
        VALUES (#{chatroomId}, #{senderId}, #{content}, #{sentAt}, 0)
    </insert>
    
<select id="getMessagesByRoom" resultType="com.daview.dto.ChatMessageDTO" parameterType="map">
  SELECT cm.chatroom_id AS chatroomId,
         cm.sender_id   AS senderId,
         cm.content,
         cm.sent_at     AS sentAt
  FROM chatmessage cm
  JOIN chatroom cr ON cm.chatroom_id = cr.chatroom_id
  WHERE cm.chatroom_id = #{chatroomId}
    AND (
      (cr.sender_id = #{memberId} AND cr.sender_trash_can = FALSE)
      OR
      (cr.receiver_id = #{memberId} AND cr.receiver_trash_can = FALSE)
    )
  ORDER BY cm.sent_at ASC
</select>

<!-- 채팅 읽음처리 -->
<update id="markMessagesAsRead">
    UPDATE chatMessage
    SET is_read = 1
    WHERE chatroom_id = #{chatroomId}
      AND sender_id != #{memberId}
      AND is_read = 0
</update>


</mapper>

