<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.daview.mapper.ChatMessageMapper">
<insert id="insertChatMessage" parameterType="ChatMessageDTO" useGeneratedKeys="true" keyProperty="chatMessageId">
    INSERT INTO chatmessage (chatroom_id, sender_id, content, sent_at, is_read)
    VALUES (#{chatroomId}, #{senderId}, #{content}, #{sentAt}, #{isRead})
</insert>
    
<select id="getMessagesByRoom" resultType="com.daview.dto.ChatMessageDTO" parameterType="map">
  SELECT 
  
         cm.chatMessage_id AS chatMessageId,
         cm.chatroom_id AS chatroomId,
         cm.sender_id   AS senderId,
         cm.receiver_id AS receiverId,
         cm.content,
         cm.sent_at     AS sentAt,
         cm.is_read     AS isRead
         
  FROM chatmessage cm
  JOIN chatroom cr ON cm.chatroom_id = cr.chatroom_id
  WHERE cm.chatroom_id = #{chatroomId}
    AND (
      (cr.sender_id = #{memberId} AND cr.sender_trash_can = FALSE)
      OR
      (cr.receiver_id = #{memberId} AND cr.receiver_trash_can = FALSE)
    )
  ORDER BY cm.sent_at ASC
</select>

<!-- 채팅 읽음처리 -->
<update id="markMessagesAsRead">
    UPDATE chatMessage
    SET is_read = 1
    WHERE chatroom_id = #{chatroomId}
      AND sender_id != #{memberId}
      AND is_read = 0
</update>

<select id="findUnreadMessageIdsByChatroomAndOpponent" resultType="long">
  SELECT chatmessage_id
  FROM chatmessage
  WHERE chatroom_id = #{chatroomId}
    AND receiver_id = #{readerId}
    AND is_read = true
</select>


</mapper>

