<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daview.mapper.PaymentMapper">
	<insert id="insertPayment" parameterType="com.daview.dto.PaymentDTO">
		INSERT INTO payment (
			pym_id, imp_uid, merchant_uid, member_id,
			cust_nm, cust_tel, cust_em_tel, cust_date, cust_memo,
			pym_price, pym_status, pym_method, pym_num, coupon_discount
		) VALUES (
			#{pymId}, #{impUid}, #{merchantUid}, #{memberId},
			#{custNm}, #{custTel}, #{custEmTel}, #{custDate}, #{custMemo},
			#{pymPrice}, #{pymStatus}, #{pymMethod}, #{pymNum}, #{couponDiscount}
		)
	</insert>
	<select id="selectPaymentById" resultType="com.daview.dto.PaymentDTO">
		SELECT *
		FROM payment
		WHERE pym_id = #{pymId}
	</select>
	<select id="selectPaymentWithReservationsByMemberId" resultMap="PaymentWithReservationsMap">
		SELECT
	    	p.pym_id, p.imp_uid, p.merchant_uid, p.member_id, 
	    	p.cust_nm, p.cust_tel, p.cust_em_tel, p.cust_date, p.cust_memo,
	    	p.pym_price, p.pym_status, p.pym_method, p.pym_num, p.pym_date, p.coupon_discount,
	        r.rsv_id, r.member_id AS r_member_id, r.prod_id,
	        r.prod_type, r.prod_price, r.prod_nm, r.prod_detail,
	        r.prod_photo, r.rsv_type, r.rsv_date, r.rsv_cnt
        FROM payment p
        LEFT JOIN payment_reservation_map prm ON p.pym_id = prm.pym_id
        LEFT JOIN reservation r ON prm.rsv_id = r.rsv_id
        WHERE p.member_id = #{memberId}
        ORDER BY p.pym_date DESC
	</select>
	<resultMap id="PaymentWithReservationsMap" type="com.daview.dto.PaymentWithReservationsDTO">
		<id property="pymId" column="pym_id" />
		<result property="impUid" column="imp_uid" />
		<result property="merchantUid" column="merchant_uid"/>
	    <result property="memberId" column="member_id"/>
	    <result property="custNm" column="cust_nm"/>
	    <result property="custTel" column="cust_tel"/>
	    <result property="custEmTel" column="cust_em_tel"/>
	    <result property="custDate" column="cust_date"/>
	    <result property="custMemo" column="cust_memo"/>
	    <result property="pymPrice" column="pym_price"/>
	    <result property="pymStatus" column="pym_status"/>
	    <result property="pymMethod" column="pym_method"/>
	    <result property="pymNum" column="pym_num"/>
	    <result property="pymDate" column="pym_date"/>
	    <result property="refundReason" column="refund_reason" />
	    <result property="refundDate" column="refund_date" />
	    <result property="couponDiscount" column="coupon_discount" />
	    
	    <collection property="reservations" ofType="com.daview.dto.ReservationDTO" javaType="ArrayList">
	    	<id property="rsvId" column="rsv_id" />
	    	<result property="memberId" column="r_member_id"/>
			<result property="prodId" column="prod_id"/>
			<result property="prodType" column="prod_type"/>
		    <result property="prodPrice" column="prod_price"/>
	    	<result property="prodNm" column="prod_nm" />
	    	<result property="prodDetail" column="prod_detail"/>
		    <result property="prodPhoto" column="prod_photo"/>
			<result property="rsvType" column="rsv_type"/>
		    <result property="rsvDate" column="rsv_date"/>
		    <result property="rsvCnt" column="rsv_cnt"/>
	    </collection>
	</resultMap>
	<select id="getProdNmList" parameterType="long" resultType="string">
		SELECT DISTINCT r.prod_nm 
		FROM payment p
		LEFT JOIN payment_reservation_map prm ON p.pym_id = prm.pym_id
		LEFT JOIN reservation r ON prm.rsv_id = r.rsv_id
		WHERE p.member_id = #{memberId}
		  AND p.pym_status = 2
		  AND r.prod_nm IS NOT NULL
	</select>
	<update id="updatePaymentStatusByImpUid">
	    UPDATE payment
	    SET pym_status = #{pymStatus}, 
	   		refund_reason = #{refundReason},
	   		refund_date = NOW()
	    WHERE imp_uid = #{impUid}
	</update>
	<select id="selectRefundedPaymentsByMemberId" parameterType="long" resultMap="PaymentWithReservationsMap">
	    SELECT
	        p.pym_id, p.imp_uid, p.merchant_uid, p.member_id, 
	        p.cust_nm, p.cust_tel, p.cust_em_tel, p.cust_date, p.cust_memo, p.pym_price, p.pym_status, p.pym_method, 
	        p.pym_num, p.pym_date, p.refund_reason, p.refund_date, p.coupon_discount,
	        r.rsv_id, r.member_id AS r_member_id, r.prod_id,
	        r.prod_type, r.prod_price, r.prod_nm, r.prod_detail,
	        r.prod_photo, r.rsv_type, r.rsv_date, r.rsv_cnt
	    FROM payment p
	    LEFT JOIN payment_reservation_map prm ON p.pym_id = prm.pym_id
	    LEFT JOIN reservation r ON prm.rsv_id = r.rsv_id
	    WHERE p.member_id = #{memberId}
	      AND p.pym_status = 4
	    ORDER BY p.pym_date DESC
	</select>
</mapper>