<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daview.mapper.UserMapper">

	<select id="findByUsername" resultType="com.daview.dto.User">
		SELECT * FROM dv_users
		WHERE username = #{username}
	</select>

	<insert id="insertUser">
		INSERT INTO dv_users (
		username, password, name,
		email, phone, role, user_gender
		) VALUES (
		#{username}, #{password},
		#{name}, #{email}, #{phone}, #{role}, 'hidden'
		)
	</insert>

	<select id="countByUsername" resultType="int">
		SELECT COUNT(*) FROM
		dv_users WHERE username = #{username}
	</select>

	<select id="findUsernameByPhone" resultType="string">
		SELECT username
		FROM
		dv_users
		WHERE name = #{name}
		AND phone = #{phone}
	</select>

	<!-- <select id="findUsernameByEmail" resultType="string"> SELECT username 
		FROM dv_users WHERE name = #{name} AND email = #{email} </select> -->

	<select id="findUserForReset" resultType="com.daview.dto.User">
		SELECT *
		FROM dv_users
		WHERE name = #{name}
		AND username = #{username}
		AND phone = #{phone}
	</select>

	<update id="updatePassword">
		UPDATE dv_users
		SET password = #{password}
		WHERE
		username = #{username}
	</update>

	<select id="findUsernameByEmail" resultType="string">
		SELECT username
		FROM dv_users
		WHERE name = #{name} AND email = #{email}
	</select>

	<!-- 실제 DB에서 CAREGIVER 역할 사용자 조회 -->
	<select id="findUsersByRole" resultType="com.daview.dto.User">
		SELECT 
			member_id,
			username,
			name,
			email,
			phone,
			role,
			user_gender,
			create_at,
			withdrawn
		FROM dv_users
		WHERE role = #{role}
		AND withdrawn = 0
		ORDER BY member_id
	</select>


<!-- 1. memberId로 유저 정보 조회 수안추가 채팅상단 정보-->
<select id="findUserById" resultType="com.daview.dto.User">
    SELECT member_id AS memberId,
           username,
           name,
           phone,
           email,
           role,
           user_gender AS gender  <!-- 'gender' 컬럼을 'user_gender'로 변경 -->
    FROM dv_users
    WHERE member_id = #{memberId}
</select>



</mapper>
