<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daview.mapper.UserMapper">

    <select id="findByUsername" resultType="com.daview.domain.user.User">
        SELECT * FROM dv_users WHERE username = #{username}
    </select>

    <insert id="insertUser">
        INSERT INTO dv_users (
            username, password, name, email, phone, role, user_gender
        ) VALUES (
            #{username}, #{password}, #{name}, #{email}, #{phone}, #{role}, 'hidden'
        )
    </insert>

</mapper>
