<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.daview.mapper.WishlistMapper">

    <select id="isWishlisted" resultType="boolean">
        SELECT EXISTS (
            SELECT 1 FROM wishlist WHERE member_id = #{memberId} AND facility_id = #{facilityId}
        )
    </select>

    <insert id="insertWishlist">
        INSERT INTO wishlist (member_id, facility_id)
        VALUES (#{memberId}, #{facilityId})
    </insert>

    <delete id="deleteWishlist">
        DELETE FROM wishlist WHERE member_id = #{memberId} AND facility_id = #{facilityId}
    </delete>

</mapper>